# npm run dev
NEXT_PUBLIC_DEV_URL="http://localhost:3000"

# npm run start
NEXT_PUBLIC_PROD_URL="https://{EXTERNAL_URL}}"

# logo path(basis path public folder)
NEXT_PUBLIC_LOGO_FILE="/logo.jpg"

# main comment
NEXT_PUBLIC_COMMENT1="🔐인증서 관리 시스템(SSLM)에 오신것을 환영합니다."
NEXT_PUBLIC_COMMENT2=""
NEXT_PUBLIC_COMMENT3=""
NEXT_PUBLIC_APP_NAME="SSLM"

NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_VERSION="v2.0.0"

# Next Auth
AUTH_SECRET="secret"
NEXT_PUBLIC_NEXTAUTH_URL="http://localhost:3000"
AUTH_TRUST_HOST=true